*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    background: linear-gradient(180deg,  rgb(220, 237, 243), #87ceeb);
    overflow-x: hidden;
}
#contain, .SERVICES_service{
    position: relative;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-family: 'Pacifico', cursive;
    font-size: 3.75em;
}
h3{
    font-family: 'Lobster', cursive;
    font-size: 1.75em;
    line-height: 27.5px;
}
h4{
    font-weight: bold;
    font-size: 20px;
}
p, button, h4{
    font-family: 'Montserrat', sans-serif;
}
button{
    min-width: fit-content;
    padding: 0 25px;
    height: 35px;
    border-radius: 7.5px 0px 7.5px 0px;
    background-color: rgb(81, 145, 175);
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: bold;
}
button:hover{
    border: 1px solid rgb(81, 145, 175);
    background-color: white;
    color: rgb(81, 145, 175);
}

/* CLASES */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* BOTON WHATSAPP */
#whatsapp{
    z-index: 1;
    height: fit-content;
    right: 1.5%;
    bottom: 3.5%;
    position: fixed;
    display: flex;
    transition: 0.75s;
}
    #whatsapp p{
        display: none;
    }
    #whatsapp i{
        color: white;
        background-color: rgb(37,211 ,102);
        padding: 0.25em;
        border-radius: 50%;
        font-size: 2.5em;
    }
    #whatsapp:hover{
        transform: translate(-15%, -15%) scale(1.05);
    }
        


/* NAV */
nav{
    position: relative;
    gap: 2.25em;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: transparent;
}
    nav ul{
        display: flex;
        align-items: center;
        gap: 2.5em;
        justify-content: flex-start;
    }
        nav ul li{
            display: flex;
        }
            nav ul li a{
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                text-decoration: none;
                color: black;
                font-size: 0.85em;
                transition: 0.5s;
            }
            nav ul li a:hover{
                transform: scale(1.1);
            }
            nav ul li img{
                height: 100px;
            }
        #cotizar{
            display: flex;
            align-items: center;
        }    
            #cotizar a{
            width: fit-content;
            padding: 0.75em 1.3em;
            display: flex;
            align-items: center;
            gap: 0.5em;
            border: 1px solid white;
            border-radius: 10px;
            }
            #cotizar a:hover{
                background-color: white;
                color: black;
                border: transparent;
                transform: scale(1.1);
            }
                #cotizar a i{
                    font-size: 1.5em;
                }    
/* Static clouds */
.static_cloud{
    --h: 1; --w:1;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    animation: static_cloud var(--t) ease-out infinite;
    z-index: -98;
    top: var(--p);
    left: var(--l);
    height: calc(25px * var(--h));
    width: calc(75px * var(--w));
}
    .static_cloud::before, .static_cloud::after{
        position: absolute;
        content: '';
        border-radius: 50%;
        background-color: white;
    }
    .static_cloud::before{
        top: -60%;
        left: 10%;
        height: calc(35px * var(--h));
        width: calc(35px * var(--w));
    }
    .static_cloud::after{
        top: -45%;
        left: 45%;
        height: calc(25px * var(--h));
        width: calc(25px * var(--w));
    }

@keyframes static_cloud{
    0%{
        margin-left: -20px;
    }
    33.33%{
        margin-left: 10px;
    }
    66.66%{
        margin-bottom: -10px;
    }
    100%{
        margin-left: -20px;
    }
}



/* FRONT */
#front_carrousel_container{
    position: relative;
    height: calc(100vh - 125px);
    max-width: 75rem;
    left: 50%;
    transform: translateX(-50%);
}
    .front_div{
        height: 100%;
    }
    #front_images{
        position: relative;
        flex-basis: 30%;
        overflow: hidden;
    }
        #front_images img{
            height: 100%;
            transition: 1.5s;
            position: absolute;
        }
        #front_image{
            top: 0%;
            animation: front_image 1.5s ease-in-out;
        }
        #front_second_image{
            top: 100%;
        }
        @keyframes front_image{
            from{
                top: 105%;
            }
            to {
                top: 0%;
            }
        }

        .active_front_image{
            top: 0% !important;
            transition: 1.5s !important;
            visibility: visible;
        }
        .desactive_front_image{
            top: 100% !important;
            transition: 0s !important;
            visibility: hidden;
        }
        

    #front_carrousel{
        position: relative;
        flex-basis: 70%;
        margin-top: -75px;
    }
        #carrousel_container{
            position: relative;
            gap: 1em;
        }
        #carrousel{    
            position: relative;
            height: 420px;
            width: 640px;
            overflow: hidden;
        }
        #carrousel img{
            position: absolute;
            width: 100%;
            transition: 0.5s;
        }
        #carrousel img{
            border-radius: 5px;
        }
        #current_carrousel_image{
            border: 5px solid green;
        }
        #right_carrousel_image{
            border: 5px solid red;    
        }
        #left_carrousel_image{
            border: 5px solid skyblue;        
        }
        #left_carrousel_image{
            margin-left: -100%;
        }
        #right_carrousel_image{ 
            margin-left: 100%;
        }
            .move_left{
                margin-left: -100% !important;
            }
                .stay_left{
                    margin-left: -100% !important;
                    transition: 0s !important;
                }
            .move_right{
                margin-left: 100% !important;
            }
                .stay_right{
                    margin-left: 100% !important;
                    transition: 0s !important;
                }
            .move_center{
                margin-left: -0% !important;
            }
                .stay_center{
                margin-left: 0% !important;
            }
            
        
        .slide_balls{
            --slide_balls: -7.5%;
            position: absolute;
            height: 175px;
            top: 5%;   
        }
            #front_left_ball{
                left: -10%;
            }
            #front_right_ball{
                right: var(--slide_balls);
            }
            #front_left_ball{
                left: var(--slide_balls);
            }
        .front_arrows{
            --front_arrows: 5%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 35px;
            fill: white;
            stroke: black;
            stroke-width: 10px;
            cursor: pointer;
        }
        #front_left_arrow{
            left: var(--front_arrows);
            animation: left_arrow 1s infinite;
        }
        #front_right_arrow{
            right: var(--front_arrows);
            animation: right_arrow 1s infinite;
        }
        #front_left_arrow:hover, #front_right_arrow:hover{
            animation: none;
        }
        @keyframes left_arrow{
            0%{
                margin-left: 0px;
            }
            50%{
                margin-left: 10px;    
            }
            100%{
                margin-left: 0px;
            }
        }
        @keyframes right_arrow{
            0%{
                margin-right: 0px;
            }
            50%{
                margin-right: 10px;    
            }
            100%{
                margin-right: 0px;
            }
        }

        /* Carrousel border clouds */
        .carrousel_cloud{ 
            --w:160px; --h:40px;
            position: absolute;
            height: var(--h);
            width: var(--w);
            bottom: -5%;
            border-radius: 50px;
            background-color: white;
        }
        .carrousel_cloud::before, .carrousel_cloud::after{
            position: absolute;
            content: '';
            border-radius: 50%;
            background-color: white;
        }
        #carrousel_cloud1{
            left: 0%;
        }
        #carrousel_cloud1::before{
            height: calc(var(--h) * 1.5);
            width: calc((var(--w)/4) * 1.5);
            top: -60%;
            left: 10%;
        }
        #carrousel_cloud1::after{
            height: calc(var(--h) * 1.85);
            width: calc((var(--w)/2) * 2);
            top: -90%;
            left: 45%;
        }
        #carrousel_cloud2{
            left: 27.5%;
        }
        #carrousel_cloud2::before{
            height: calc(var(--h) * 1.70);
            width: calc((var(--w)/4) * 2.5);
            top: -72.5%;
            left: 30%;
        }
        #carrousel_cloud2::after{
            height: calc(var(--h) * 1.75);
            width: calc((var(--w)/2) * 1.45);
            top: -80%;
            left: 75%;
        }
        
        #carrousel_cloud3{
            left: 60%;
        }
        #carrousel_cloud3::before{
            height: calc(var(--h) * 1.70);
            width: calc((var(--w)/4) * 3);
            top: -73%;
            left: 8.5%;
        }
        #carrousel_cloud3::after{
            height: calc(var(--h) * 1.5);
            width: calc((var(--w)/2) * 0.95);
            top: -65%;
            left: 70%;
        }
        #carrousel_cloud4{
            left: 75%;
        }
        #carrousel_cloud4::after{
            height: calc(var(--h) * 1.25);
            width: calc((var(--w)/2) * 0.85);
            top: -50%;
            left: 47.5%;
        }



/* Front border ball */
#front_border_cloud{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100px;
    height: 207.5px;
    width: 102vw;
    animation: borderBalls 10s infinite ease-in-out;
}
@keyframes borderBalls{
    0%{
        margin-top: 0;
    }
    25%{
        margin-top: 5px;
        margin-left: -5px;
    }
    50%{
        margin-top: 10px;
        margin-left: 0px;
    }
    75%{
        margin-top: 5px;
        margin-right: -5px;
    }
    100%{
        margin-top: 0;
        margin-right: 0px;
    }
}



/* BALL BACKGROUND */
#ball_background{
    margin-top: 25px;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    z-index: -99;
    opacity: 0.35;
    animation: balls 10s infinite ease-in-out;
}
@keyframes balls{
    0%{
        margin-top: 0;
    }
    25%{
        margin-top: 10px;
        margin-left: -10px;
        
    }
    50%{
        margin-top: 20px;
        margin-left: 0px;
    }
    75%{
        margin-top: 10px;
        margin-right: -10px;
    }
    100%{
        margin-top: 0;
        margin-right: 0px;
    }
}



/* NOSOTROS */
#presentation_container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.5em;
    padding: 5em;
}

/* Description container */    
#description_container{
    display: flex;
    gap: 2.5em;
    width: 100%;
}

#description{
    flex-basis: 50%;
}
#description_image{
    flex-basis: 50%;
}
    #description_image img{
        width: 90%;
        border-radius: 50%;
    }

#description{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

/* Cualidades */
#cualidades{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
    .cualidad{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        flex-basis: 25%;
    }
    .cualidad img{
        height: 75px;
    }
    .cualidad p{
        text-align: center;
        width: 85%;
    }



/* PACKAGE */
#package_container{
    flex-direction: column;
    gap: 5em;
    margin-bottom: 5em;
}
    #packages{
        flex-wrap: wrap;
        gap: 70px;
        width: 100%;
    }
        .package{
            flex-direction: column;
            gap: 10px;
            cursor: pointer;
            transition: 0.5s;
        }
            .package:hover{
                transform: scale(1.1);
            }
        .package img{
            border-radius: 50%;
            width: 200px;
        }
        .package h4{
            text-align: center !important;
        }



/* PORQUE ANDRES PRODUCCIONES */
#services_container{
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 2.5em;
    background-color: white;
    margin: 180px 0 80px 0;
}

/* Cloud border */
.cloud_border{
    position: absolute;
    max-height: 500px;
    width: 100%;
    fill: white;
    z-index: -99;
}
#upper_cloud{
    top: -6rem;
}
#nether_cloud{
    transform: rotate(180deg);
    bottom: 77.5rem;
}



/* Services information */
#services_container h2{
    text-align: center;
}
#services{
    display: flex;
    gap: 5em;
    justify-content: center;
}
    .service{
        height: 375px;
        width: 275px;
        background-color: white;
        background-position: center;
        background-size: cover;
        border: 1px solid rgb(221, 193, 193);
        border-radius: 20px;
        overflow: hidden;
    }
        .service span{
            height: 100%;
            width: 100%;
            padding: 10px;
            flex-direction: column;
            gap: 30px;
            }
        /*

            CALIDAD, PUNTUALIDAD..

        #service1:hover{
            background-image: url('./img/show.webp');
        }
        #service2:hover{
            background-image: url('./img/children_decoration.jpg');
        }
        #service3:hover{
            background-image: url('./img/musical_theater.webp');
        }
        
        */
            .service span h3{
                text-decoration: underline;
            }
            .service span h3, .service span p{
                text-align: center;
            }
            .service span button{
                display: none;
            }

/* Moving clouds */
.moving_cloud{
    position: absolute;
    background-color: white;
    border-radius: 50px;
    animation: moving_cloud var(--t) ease-out infinite;
    z-index: -98;
    margin-top: var(--p);
    height: calc(50px * var(--h));
    width: calc(150px * var(--w));
}
    .moving_cloud::before, .moving_cloud::after{
        position: absolute;
        content: '';
        border-radius: 50%;
        background-color: white;
    }
    .moving_cloud::before{
        top: -60%;
        left: 10%;
        height: calc(70px * var(--h));
        width: calc(70px * var(--w));
    }
    .moving_cloud::after{
        top: -45%;
        left: 45%;
        height: calc(50px * var(--h));
        width: calc(50px * var(--w));
    }

@keyframes moving_cloud{
    from{
        left: 0%;
        transform: translateX(-100%);
    }
    to{
        left: 100%;
        transform: translateX(0%);
    }
}



/* CUSTOMER */
#customer_container{
    flex-direction: column;
    gap: 75px;
    padding: 5em;
}
    #customer{
        position: relative;
        gap: 75px;
    }
        #customer svg{
            height: 125px;
        }


        
/* CONTACT */
#contact_container{
    height: fit-content;
    flex-direction: column;
    gap: 35px;
    padding: 2em 0em 3.5em 0em;
}
    #contact{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #contact div{
        flex-basis: 50%;
    }
            #contact_form_container, #contact_information{
                flex-direction: column;
                padding: 0em 2.5em;
            }
            #contact_form_container{
                padding-right: 12.5%;
            }
            #contact_information{
                padding-left: 12.5%;
            }
                form{
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    justify-content: center;
                    align-items: center;
                    width: fit-content;
                    padding: 1.05em;
                    background-color:rgba(81, 145, 175, 0);
                }   
                    form input{
                        width: 250px;
                        font-size: 0.90em;
                        padding: 7.5px;
                        border-radius: 5px;
                        border: none;
                    }
                    
                #contact_information h3{
                    font-size: 4em;
                }
                #contact_information p{
                    width: 100%;
                    text-align: center;
                    padding: 0em 0em 1.5em 0em;
                }
                #contact_information ul {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 0.5em;
                }    
                    #contact_information ul li{
                        display: flex;
                        align-items: center;
                        gap: 1em;
                    }
                        #contact_information ul li i{
                            font-size: 1.5em;
                        }
                        #contact_information ul li p, #contact_information ul li a{
                            text-decoration: none;
                            padding: 0;
                            text-align: start;
                        }
            #contact_form_container p{
                margin-top: 10px;
                font-size: 14.5px;
            }


/* FOOTER */
footer{
    position: relative;
    height: 250px;
    margin-top: 4.5em;
}
    footer svg{
        max-height: 450px;
        width: 100%;
        position: absolute;
        bottom: 0%;
        z-index: -97;
    }
    #footer{
        width: 70em;
        height: 100%;
    }
        #footer div{
            height: 100%;
            padding: 20px;
            flex-basis: 33.33%;
            flex-direction: column;
            gap: 10px;
        }
            #footer div p{
                text-align: center;
            }
                #menu ul li{
                    list-style: none;
                    border: 1px solid black;
                    padding: 7.5px;
                    background-color: rgba(255, 255, 255, 0.75);
                    cursor: pointer;
                }
                #menu ul li:hover{
                    background-color: white;
                }

/* Below the footer */
#footer_below{
    height: 30px;
    background-color: white;
}
#footer_below p{
    text-align: center;
}



/* PAGE - SERVICES */

.SERVICES_header{
    margin-bottom: -5em;
}
.SERVICES_service{
    position: relative;
    height: 100vh;
    gap: 10px;
}
    .SERVICES_service picture, .SERVICES_service_description{
        position: relative;
        flex-direction: column;
        flex-basis: 50%;
        gap: 10px;
        height: 70%;
    }
    .SERVICES_service picture svg{
        position: absolute;
        height: 250px;
    }
        .SERVICES_left_side_ball_border_1{
            bottom: -5%;
            left: -5%;
            transform: rotate(-25deg);
        }
        .SERVICES_right_side_ball_border_1{
            top: -2.5%;
            transform: rotate(-30deg);
            right: -5%;
        }
        .SERVICES_left_side_ball_border_2{
            top: -5%;
            left: -2.5%;
            transform: rotate(35deg);
        }
        .SERVICES_right_side_ball_border_2{
            bottom: -7.5%;
            transform: rotate(30deg);
            right: -2.5%;
        }

    .SERVICES_service picture img{
        height: 550px;
        width: 550px;
        border-radius: 50%;
    }
    .SERVICES_service div h2{
        font-size: 52.5px;
        text-decoration: underline;
    }
    .SERVICES_service div p{
        text-align: center;
        width: 85%;
    }
    .SERVICES_service div svg{
        position: absolute;
        width: 90%;
        z-index: -97;

    }